


.Tabla{

    position: absolute;
    margin-left: 410px;
    top: 68%;
    width: 252px;
    transform: translate(-20%,-150%);
       
}

.slider{

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh; /*fullscreen*/
    background:linear-gradient(to left, #ba7453, #d1a984);
    z-index: -1;/*drop to the back*/
}

section{
    display: flex;
    height: 80vh;
    justify-content: center;
    align-items: center;
}

.backImage img{

    width: 100%;
    height: 100%;
    object-fit: cover;
}

.backImage{

    width: 100%;
    height: 60%;
}

.espaco{

    width: 80px;
    height: 60px;
    border: 2px solid black;
    float: left;
    text-align: center;
    padding-top: 20px;
    
}

.headline{

    position: absolute;
    top: 70%;
    left: 0%;
    margin-left: 6%;
    width: 10%;
    font-size: 90px;
    font-family: sans-serif;
    color: white;
    line-height: 110px;
    float: left;
    transform: translate(-20%,-150%);
    z-index: 0;/*drop to the back*/

}

#images{

    position: absolute;
    top: 18%;
    margin-left: 70%;
    height: 30px;
    width: 30px;
    float: right;
}

#a1{
    border-top: none;
    border-left: none ;
}
#a2{
    border-top: none;
}
#a3{
    border-top: none;
    border-right: none;
}

#b1{
    border-left: none;
}

#b3{
    border-right: none;
}

#c1{
    border-bottom: none;
    border-left: none;
}

#c2{
    border-bottom: none;
}

#c3{
    border-bottom: none;
    border-right: none;
    
}


.btn-reset {
    
    cursor: pointer;
    border: none;
    border-radius: 12px;
    text-align: center;
    
    /* Smoothing out hover using css3 transitions, if not, the pressed button effect looks a bit hard */
    transition: all 0.2s ease;
  
    /* Size */
    width: 138%;
    height: 45px;
    font-size: 120%;   
    background: #e8103b;
    box-shadow: 0 6px #890923;
    color: #fff;
}

.Button_down{    
    padding-left: 450px;
    position: absolute;
    bottom: 30%;
}


.playerImage img{
    position: absolute;
    margin-left: 150px;
    margin-top: 90px;
}

.playerImage p{
    
    position: absolute;
    margin-left: 230px;
    margin-top: 50px;
}

#imageJuju{
    position: absolute;
    margin-left: 540px;
    margin-top: 90px;

}

.backImage::after{

    content: "";
    background: black;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    opacity: 0.3;
    top: 0;
}